.snap-container {
  overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.snap-item {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}